#loginBtn {
	margin: 0 auto;
	display: block;
}

/* Global Styles */
body {
	font-family: 'Poppins', sans-serif;
	background-color: #f8f9fa;
	color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
	margin-top: 0;
}

p {
	font-size: 16px;
	line-height: 1.6;
	margin-bottom: 20px;
}

.navbar-brand {
	font-size: 24px;
}

.navbar-nav .nav-link {
	font-size: 18px;
	padding: 10px 20px;
	transition: all 0.3s ease;
}

.welcome-hero-txt {
	margin-bottom: 50px;
}

/* Service Section */
.service {
	padding: 100px 0;
	background-color: #fff;
	margin-bottom: 500px;
}

.single-service-item h2 {
	font-size: 24px;
	margin-bottom: 20px;
	height: 50px;
}

.single-service-item p {
	font-size: 16px;
	height: 150px;
}

/* New Cars Section */
.new-cars {
	background-color: #f8f9fa;
}

.new-cars h2 {
	font-size: 36px;
	margin-bottom: 50px;
}

.new-cars-item {
	background-color: #fff;
	border-radius: 10px;
	padding: 30px;
	margin-bottom: 30px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
	transition: transform 0.3s ease;
}

.new-cars-item:hover {
	transform: translateY(-10px);
}

.new-cars-img img {
	border-radius: 10px;
	margin-bottom: 20px;
}

.new-cars-txt h2 {
	font-size: 24px;
	margin-bottom: 20px;
}

.new-cars-txt p {
	font-size: 16px;
}

/* Comments Section */
.comments {
	padding: 100px 0;
	background-color: #fff;
}

.comments h2 {
	font-size: 36px;
	margin-bottom: 50px;
}

.comment {
	background-color: #f8f9fa;
	border-radius: 10px;
	padding: 30px;
	margin-bottom: 30px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
	transition: transform 0.3s ease;
}

.comment:hover {
	transform: translateY(-10px);
}

.comment p {
	font-size: 16px;
	margin-bottom: 10px;
}

.comment hr {
	margin-top: 20px;
	margin-bottom: 20px;
	border-color: #ddd;
}
