.map-container {
	flex: 1;
}
.container-fluid{
	margin-top: -25px;
}
.content {
	padding: 60px;
}
.card ,.row {
	margin-bottom: 20px;
}
#pgreet, #tourList,#tour{
	background-color: #e2e4e9;
}
.card-header{
	background-color: #c2c4c7;
}
.profile-name {
	font-size: 1.5rem;
	font-weight: bold;
	margin-bottom: 20px;
}
.delete-account-btn {
	background-color: #dc3545;
	color: #ffffff;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
}
.delete-account-btn:hover {
	background-color: #c82333;
}
.activities-card {
	background-color: #ffffff;
	border-radius: 10px;
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}
.activities-card .card-header {
	background-color: #bcbebf;
	border-bottom: 1px solid #434343;
	padding: 15px 20px;
}
.activities-card .card-title,.Text{
	font-size: 1.15rem;
}
.tour-container {
	margin-bottom: 30px;
	padding: 20px;
	border: 2px solid #000000;
	border-radius: 10px;
	background-color: #f7f7f7;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
.tour-container h2 {
	font-size: 24px;
	color: #000000;
	margin-bottom: 10px;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}
.day-container {
	margin-bottom: 20px;
}
.day-container h5 {
	font-size: 20px;
	color: #333;
	margin-bottom: 10px;
}
.destination-list {
	list-style-type: none;
	padding: 0;
}
.destination-list li {
	font-size: 16px;
	color: #555;
	margin-bottom: 8px;
	padding-left: 20px;
	position: relative;
}
.destination-list li::before {
	content: "\2022";
	color: #070707;
	font-weight: bold;
	position: absolute;
	left: 0;
	top: 5px;
}
.numbering-group {
	border: 1px solid #070707;
	padding: 10px;
	margin-bottom: 20px;
	background-color: #ffffff;
}
.destination-item {
	margin-bottom: 10px;
}
